@model EsteraApp.Models.Person

@{
    ViewData["Title"] = "Edit";
}

<h1>Perditeso</h1>

<h4>Person</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Nid" class="control-label"></label>
                <input asp-for="Nid" class="form-control" />
                <span asp-validation-for="Nid" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Emer" class="control-label"></label>
                <input asp-for="Emer" class="form-control" />
                <span asp-validation-for="Emer" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Mbiemer" class="control-label"></label>
                <input asp-for="Mbiemer" class="form-control" />
                <span asp-validation-for="Mbiemer" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Atesi" class="control-label"></label>
                <input asp-for="Atesi" class="form-control" />
                <span asp-validation-for="Atesi" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Amesi" class="control-label"></label>
                <input asp-for="Amesi" class="form-control" />
                <span asp-validation-for="Amesi" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Gjinia" class="control-label"></label>
                <input asp-for="Gjinia" class="form-control" />
                <span asp-validation-for="Gjinia" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Datelindja" class="control-label"></label>
                <input asp-for="Datelindja" class="form-control" />
                <span asp-validation-for="Datelindja" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Vendlindja" class="control-label"></label>
                <input asp-for="Vendlindja" class="form-control" />
                <span asp-validation-for="Vendlindja" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Perditeso" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Kthehu te Lista</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
